## Ignore temporary files and build results

# PA 2, PA 3, swetankk_pa3 won't be added until further development.
PA 2
PA 3
swetankk_pa3

# Desktop ini files
*.ini

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
